<launch>
    <!-- <param name="robot_description" command="$(find xacro)/xacro /home/huihanliu/deoxys_ros/src/deoxys_moveit/urdf/panda.urdf.xacro hand:=true" /> -->
    <!-- <param name="robot_description_semantic" command="$(find xacro)/xacro -->
  <!-- /home/huihanliu/deoxys_ros/src/deoxys_moveit/urdf/panda.srdf.xacro gripper:=true" /> -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>